{% extends 'layout.html' %}

{% block title %}
NotesProject
{% endblock %}

{% block content %}
<form action="/search/" method="get">
  <input name="q" type="text" placeholder="Search...">
</form>
    {% for el in notes %}
        <div class="alert alert-warning mt-2">
            <h3>{{ el.title }}</h3>
            <p>{{ el.body|safe }}</p>
            <p>{{ el.date }}</p>
            <form method="post" action="/deletenote/">
                {% csrf_token %}
                <input type='hidden' value='{{ el.id }}' name='id'>
                <button type="submit" class="btn btn-warning">Удалить</button>
            </form>
            <form method="get" action="/{{ el.id }}/update">
                <button type="submit" class="btn btn-warning">Изменить</button>
            </form>
        </div>
    {% endfor %}
{% endblock %}
