{% extends 'layout.html' %}

{% block title %}
NotesProject
{% endblock %}

{% block content %}
<form action="/search/" method="get">
  <input name="q" type="text" placeholder="Search...">
</form>

<form action="/" method="post" name="form1">
{% csrf_token %}
 <select name="sort_by">
  <option value="-date" {% if sort_option == '-date' %} selected {% endif %}>
     По дате↓</option>
  <option value="-title"  {% if sort_option == '-title' %} selected {% endif %}>
     По названию↓</option>
  <option value="-body"  {% if sort_option == '-body' %} selected {% endif %}>
     По тексту↓</option>
  <option value="date" {% if sort_option == 'date' %} selected {% endif %}>
     По дате↑</option>
  <option value="title" {% if sort_option == 'title' %} selected {% endif %}>
     По названию↑</option>
  <option value="body" {% if sort_option == 'body' %} selected {% endif %}>
     По тексту↑</option>
 </select>

 <select name="group_by">
  <option value='' {% if group_option == '' %} selected {% endif %}>Без группировки</option>
     {% for e in tags %}
     <option value={{ e|safe }} {% if group_option == e|safe %} selected {% endif %}>{{ e }}</option>
     {% endfor %}
 </select>

 <p><input type="submit" value="Отправить"></p>
</form>
    {% for el in notes %}
        <div class="alert alert-warning mt-2">
            <h3>{{ el.title }}</h3>
            <p>{{ el.body|safe }}</p>
            <p>{{ el.date }}</p>
            {% if el.isPrivate == 1 %}
            <p>Приватная</p>
            {% else %}
            <p>Публичная</p>
            {% endif %}
            {% for tag in el.tags.all %}
            <p>{{ tag }}</p>
            {% endfor %}
            <form method="get" action="/{{ el.id }}/update">
                <button type="submit" class="btn btn-warning">Изменить</button>
            </form>
        </div>
    {% endfor %}
{% endblock %}
