{% extends 'layout.html' %}

{% block title %}
Заметка
{% endblock %}
{% block content %}
        <div class="alert alert-warning mt-2">
            <h3>{{ el.title }}</h3>
            <p>{{ el.body|safe }}</p>
            <p>{{ el.date }}</p>
            {% if el.isPrivate == 1 %}
            <p>Приватная</p>
            {% else %}
            <p>Публичная</p>
            {% endif %}
            {% for tag in el.tags.all %}
            <p>{{ tag }}</p>
            {% endfor %}
        </div>
{% endblock %}
